@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100vh;
    width: 100vw;
}

#__next{
    height: 100%;
    width: 100%;
}

a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
}

input:focus{
    outline: none;
}
